body {
    margin: 0;
    background-color: darkgray;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons{
    display: flex;
    flex-direction: column;
    margin: 2px;
}

#pageInfo {
    position: absolute;
    top: 5%;
    left: 0;
    width: 10%;
    padding: 2% 1%;
    background-color: antiquewhite;
}

button {
    border: none;
    border-radius: 5px;
    padding: 5px 5px 7px 5px;
    margin: 2px;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}

#networkCanvas {
    background-color: black;
}
#carCanvas {
    background-color: lightgray;
}